.wishlist{
    background: var(--footer-background-color);
}
.wishListContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.carDetails{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}
.wishlistDetails{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}