.footer-content{
    display: flex;
    justify-content: center;
    align-items: end;
    background-color: var(--footer-background-color);
    box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.5);
}
img {
    width: 120px;
    height: 60px;
}