.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
    background-color: var(--background-color);
    color: var(--secondary-color);
    border-bottom: 5px solid var(--primary-color);
  }
  
  .appName {
    font-size: 25px;
    font-style: italic;
    font-weight: bold;
    color: var(--primary-color);
    cursor: pointer;
  }
  
  .auth-buttons {
    display: flex;
    gap: 10px;
  }
  
  